.txt-color{
  color: #289BDE;
}

.bg-dv{
  background-color: #F4FAFD;
}

.img-hw{
  height: 806px;
  width: 600px;
}

.img-work{
  width: 40%;
}

.info{
  width: 60%;
}

/* footer social icon  */
.fa-square-facebook, .fa-linkedin, .fa-square-twitter{
  color: white;
  height: 25px;
  width: 25px;
}